<div class="page-header">
  <h1><%= @post.title %></a><br> <small>Submitted by <% if @post.user %> <%= @post.user.email%><%end%></small></h1>
  <% if @post.user == current_user -%>
  		<%= link_to 'Edit', edit_post_path(@post), class: "btn btn-default" %>
  		<%= link_to 'Delete', @link, method: :delete,  confirm: 'Are you sure?' , class: "btn btn-default" %>
    <%end%>
</div>
<%= @post.content%>
<div class="btn-group pull-right">
<%= link_to like_post_path(@post), method: :get, class: "btn btn-default btn-sm" do %>
  <span class="glyphicon glyphicon-chevron-up"></span>
  Likes
  <%= @post.get_likes.size %>
<% end %>
<%= link_to dislike_post_path(@post), method: :get, class: "btn btn-default btn-sm" do %>
  <span class="glyphicon glyphicon-chevron-down">
  Dislikes
  <%= @post.get_dislikes.size %>
<% end %>
</div>
<div>

</div>


  <h3 class="comments_title">
    <%= @post.comments.count %> Comments
  </h3>

  <div id="comments">
    <%= render :partial => @post.comments %>
  </div>
  <%= simple_form_for [@post, Comment.new]  do |f| %>
    <div class="field">
      <%= f.text_area :content, class: "form-control" %>
    </div>
    <br>
    <%= f.submit "Add Comment", class: "btn btn-primary" %>
  <% end %>
